﻿@model EntityRepo.Entities.Region

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (Model == null)
{
	<p>The Region you are trying to edit doesn't exist anymore</p>
}
else
{
 using (Html.BeginForm())
 {
	 @Html.AntiForgeryToken()

	 <div class="form-horizontal">
		 <h4>Edit Region @Model.Key</h4>
		 <hr />
		 @Html.ValidationSummary(true)
		 <!--input type="hidden" name="id" id="regionId" value="@Model.Id" /-->
		 <input type="hidden" name="key" id="regionKey" value="@Model.Key" />
		 @Html.HiddenFor(model => model.Id)

		 <div class="form-group">
			 <label for="name" class="control-label col-md-2">Name</label>
			 <div class="col-md-10">
				 <input id="name" type="text" class="form-control col-md-3" name="name" value="@Model.Name" />
			 </div>
		 </div>
		
		 <div class="form-group">
			 <label for="location" class="control-label col-md-2">Location</label>
			 <div class="col-md-10">
				 <input id="location" type="text" class="form-control col-md-3" name="location" value="@Model.Address.Location" />
			 </div>
		 </div>
		
		 <div class="form-group">
			 <label for="postcode" class="control-label col-md-2">Postcode</label>
			 <div class="col-md-10">
				 <input id="postcode" type="text" class="form-control col-md-3" name="postcode" value="@Model.Address.Postcode" />
			 </div>
		 </div>
		
		 <div class="form-group">
			 <label for="street" class="control-label col-md-2">Street</label>
			 <div class="col-md-10">
				 <input id="street" type="text" class="form-control col-md-3" name="street" value="@Model.Address.Street" />
			 </div>
		 </div>

		 <div class="form-group">
			 <div class="col-md-offset-2 col-md-10">
				 <input type="submit" value="Save" class="btn btn-default" />
			 </div>
		 </div>
	 </div>
 }
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
