﻿@model IEnumerable<EntityRepo.Entities.Region>

@{
    ViewBag.Title = "Region Overview";
}

<h2>Region Overview</h2>

@if (!Model.Any())
{
	<p>No Regions in System, Please @Html.ActionLink("upload Regions", "Region", "Upload") first </p>
}
else
{
	<table class="table">
		<tr>
			<th>
				Region Key
			</th>
			<th>
				Region Name
			</th>
			<th>
				Address Location
			</th>
			<th>
				Address Postcode
			</th>
			<th>
				Address Street
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Key)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address.Location)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address.Postcode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address.Street)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
					@Html.ActionLink("Delete", "Delete", new {id = item.Id})
				</td>
			</tr>
		}

	</table>
}