﻿@using System.Web.Mvc.Html
@model EntityRepo.Entities.Region

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Region</h4>
        <hr />
        @Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.Id)
		<fieldset disabled>
			<div class="form-group">

				@Html.LabelFor(model => model.Key, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Key)
					@Html.ValidationMessageFor(model => model.Key)
				</div>
			</div>
		</fieldset>

	    <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
