﻿@using System.Diagnostics.Eventing.Reader
@using System.Web.Mvc.Html
@model IEnumerable<EntityRepo.Entities.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Region Overview</h2>
	
@if (Model.Any())
{
	<p>
		Currently there are no Regions to be displayed. <br />
		Please @Html.ActionLink("upload XML file", "Upload") containing the Regions first
	</p>
}
else
{
	<p>
		@Html.ActionLink("Upload new XML Region file", "Upload")
	</p>

	<table class="table">
		<tr>
			<th>
				<strong>Key</strong>
			</th>
			<th>
				<strong>Name</strong>
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Key)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
					@Html.ActionLink("Delete", "Delete", new {id = item.Id})
				</td>
			</tr>
		}

	</table>
}