﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@model EntityRepo.Entities.Region

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm(new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Region Upload</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
			<label for="xmlFile">Filename:</label>
            <div class="col-md-10">
	            <input type="file" class="form-control" name="xmlFile" id="xmlFile" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
