﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OpUn Delivery System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
		            <li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Regions", "Index", "Region")</li>
					<li>@Html.ActionLink("Packages", "Index", "Package")</li>
					<li>@Html.ActionLink("Upload", "Index", "Upload")</li>
		            <li>@Html.ActionLink("About", "About", "Home")</li>
		            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
	            </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stefan Opitz & Andreas Unterbrunner</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
