﻿
@{
    ViewBag.Title = "Upload Introduction";
}

<h2>Upload</h2>

<div class="row">
	<div class="col-md-6">
		<h2>Region Upload</h2>
		<p>
			Upload a XML file containing all Regions.
		</p>
		<p>@Html.ActionLink("Upload Region", "Region", new { }, new { @class="btn btn-default" })</p>
	</div>
	<div class="col-md-6">
		<h2>Package Upload</h2>
		<p>Upload and XML file containing all Packages -- UNDER CONSTRUCTION.</p>
		<p><a class="btn btn-default" href="#" disabled>Package Upload</a></p>
	</div>
</div>

