﻿
@{
    ViewBag.Title = "Region Upload";
}

<h2>Upload a Region</h2>

<p>Upload a XML File containing all Regions.</p>

@using (Html.BeginForm("Region", "Upload", FormMethod.Post, new {EncType = "multipart/form-data"}))
{
	<label for="file">Filename:</label>
	<input type="file" name="file" id="file" class="form-control" />

	<input type="submit" class="btn btn-default" name="submit" value="Upload" />
}