﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Stefan Opitz:</strong>   <a href="mailto:if11b078@technikum-wien.at">stefan.opitz@technikum-wien.at</a><br />
    <strong>Andreas Unterbrunner:</strong> <a href="mailto:andreas.unterbrunner@technikum-wien.at">andreas.unterbrunner@technikum-wien.at</a>
</address>