﻿@{
    ViewBag.Title = "SKS PackageManager";
}

<div class="jumbotron">
    <h1>Package Manager</h1>
    <p class="lead">Package Manager provides Services to manage and sort packages below you can find the functions we offer.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Region Management</h2>
        <p>
            View the available Regions, edit and delete them
        </p>
        <p><a class="btn btn-default" href="../Region/">Regions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Region</h2>
        <p>Upload and XML file containing all the Regions or Packages you want to deliver to.</p>
        <p><a class="btn btn-default" href="../Upload/">Upload &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Package Management</h2>
        <p>View all non delivered Packages, filter them by Region and deliver Packages from a Region.</p>
        <p><a class="btn btn-default" href="../Package/">Packages &raquo;</a></p>
    </div>
</div>