﻿@model IEnumerable<EntityRepo.Entities.Package>

@{
    ViewBag.Title = "Delivered";
}

<h2>Delivered</h2>

<p>
	The Packages from Region @Model.FirstOrDefault().Region.Key have been delivered successfully. @Html.ActionLink("Go Back", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Recipient
        </th>
        <th>
            Delivered
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient)
        </td>
        <td>
            @(item.Delivered ? "yes" : "no")
        </td>
    </tr>
}

</table>
