﻿@using System.Web.UI.WebControls
@model IEnumerable<EntityRepo.Entities.Package>

@{
    ViewBag.Title = "Package Overview";
}

<h2>Non-Delivered Packages</h2>

@if (!Model.Any())
{
	<p>
		All packages have been delivered.
	</p>
}
else
{

using (Html.BeginForm(null, "Package", "Index", FormMethod.Post, new {id = "formSelectRegion"}))
 {
	 @Html.AntiForgeryToken()
	 <p>
		 Select a Region to filter Packages 
		 @Html.DropDownList("selectRegion", new SelectList(ViewBag.RegionKeys, "Value", "Text"));
		 <input type="submit" value="Filter" class="btn btn-default" />
	 </p>
 }
using (Html.BeginForm(null, "Package", "Delivered", FormMethod.Post, new {id = "formDeliver"}))
 {
	 @Html.AntiForgeryToken()
	 <p>
		 <button type="submit" value="@ViewBag.Key" class="btn btn-block btn-primary col-md-3" name="deliver">Deliver Packages from Region @ViewBag.Key </button>
	 </p>
 }
	<table class="table">
		<tr>
			<th>
				Recipient
			</th>
			<th>
				Region Key
			</th>
			<th>
				Region Name
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Recipient)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Region.Key)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Region.Name)
				</td>

			</tr>
		}

	</table>
}
